{% extends 'admin/master.html' %}
{% block body %}
	<div class="row">
    	<div class="span3">
    		Agent
    	</div>
    	<div class="span3">
    		Group
    	</div>
    	<div class="span3">
    		Started At
    	</div>
        <div class="span3">
            Leaved at/ Group delete time
        </div>
    </div>
    {% for agent in agents %}
    <div class="row">
    	<div class="span3">
    		{{agent.user.name}}/{{agent.user.username}}
    	</div>
    	<div class="span3">
            {{agent.group}}
    	</div>
    	<div class="span3">
            {{agent.agent_joined_group_on}}
    	</div>
        <div>
          Comming Soon
        </div>
    </div>

    {% endfor %}
{% endblock %}