{% extends 'admin/master.html' %}
{% block body %}
	<div class="row">
    	<div class="span4">
    		Admin
    	</div>
    	<div class="span4">
    		Groups
    	</div>
    	<div class="span4">
    		Agents Tracked
    	</div>
    </div>
    {% for admin in admins %}
    <div class="row">
    	<div class="span4">
    		<a href="/admin/usertrack/{{admin.username}}">{{admin.name}}/{{admin.username}}</a>
    	</div>
    	<div class="span4">
    	{{admin_groups|get_value_by_key(admin)}}
    	</div>
    	<div class="span4">
    		{{admin_track_list|get_value_by_key(admin)}}
    	</div>
    </div>

    {% endfor %}
{% endblock %}